@inherits StationComponent
@inject TMWebShopfloorService shopfloorService

@{
    base.BuildRenderTree(__builder);
}
<DxPopup HeaderText="@stationSingleWorkorderNoSerial.Name" @bind-Visible="@showOperation" CloseOnOutsideClick="false" ShowFooter="true">
    <BodyContentTemplate>
        <div class="w-100">
            <DxTabs @bind-ActiveTabIndex="@operationTabIndex">
                <DxTabPage Text="Station in">
                    <div class="p-3">
                        <DxFormLayout>
                            <DxFormLayoutItem Caption="SerialNo" Context="serialnocontext">
                                <DxSpinEdit @bind-Value="@stationInAmount"></DxSpinEdit>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </div>
                </DxTabPage>
                <DxTabPage Text="Station out" Visible="@stationSingleWorkorderNoSerial.HasTask">
                    <div class="p-3">
                        <DxFormLayout>
                            <DxFormLayoutItem Caption="Ok" Context="serialnocontext">
                                <DxSpinEdit @bind-Value="@stationOutOkAmount"></DxSpinEdit>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Ng" Context="serialnocontext">
                                <DxSpinEdit @bind-Value="@stationOutNgAmount"></DxSpinEdit>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </div>
                </DxTabPage>
            </DxTabs>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxToolbar>
            <Items>
                @if (operationTabIndex == 0)
                {
                    <DxToolbarItem Text="Station in" Click="StationInOperation" RenderStyle="ButtonRenderStyle.Info" BeginGroup="true" Alignment="ToolbarItemAlignment.Right"></DxToolbarItem>
                }
                else
                {
                    <DxToolbarItem Text="Station out" Click="StationOutOperation" RenderStyle="ButtonRenderStyle.Info" BeginGroup="true" Alignment="ToolbarItemAlignment.Right"></DxToolbarItem>
                }
            </Items>
        </DxToolbar>
    </FooterContentTemplate>
</DxPopup>
@if (stationSingleWorkorderNoSerial != null)
{
    <div class="card shadow panel p-3 @GetPanelStatusStyle()">
        <DxGridLayout CssClass="h-100">
            <Rows>
                <DxGridLayoutRow Areas="name status" Height="10%" />
                <DxGridLayoutRow Areas="info info" Height="80%" />
                <DxGridLayoutRow Areas="actionbtn actionbtn" Height="10%" />
            </Rows>
            <Columns>
                <DxGridLayoutColumn Width="70%" />
                <DxGridLayoutColumn Width="30%" />
            </Columns>
            <Items>
                <DxGridLayoutItem Area="name">
                    <Template>
                        <div class="containeralignmid">
                            <DxButton Text="@stationSingleWorkorderNoSerial.Name" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline"></DxButton>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="status">
                    <Template>
                        <div class="containeralignmid">
                            <DxButton Text="@($"{stationSingleWorkorderNoSerial.Status.ToString()}")" RenderStyle="@GetStatusStyle()"></DxButton>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="info">
                    <Template>
                        <div class="p-3">
                            <DxFormLayout>
                                <DxFormLayoutItem Caption="Process" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                                    <DxTextBox Text="@stationSingleWorkorderNoSerial.Process?.Name" ReadOnly="true"></DxTextBox>
                                </DxFormLayoutItem>
                                <DxFormLayoutItem Caption="Workorder" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                                    <DxTextBox Text="@stationSingleWorkorderNoSerial.Workerder?.WorkorderNo" ReadOnly="true"></DxTextBox>
                                </DxFormLayoutItem>
                                @* <DxFormLayoutItem Caption="HasItem" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                            <DxCheckBox Checked="@stationSingleWorkorderSingleSerial.HasItem" CheckType="CheckType.Switch" ReadOnly="true"></DxCheckBox>
                            </DxFormLayoutItem> *@
                                <DxFormLayoutItem CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                                    <DxSpinEdit ReadOnly="true" Value="@stationSingleWorkorderNoSerial.WIP"></DxSpinEdit>
                                </DxFormLayoutItem>
                                @* @foreach (TaskDetail taskDetail in stationSingleWorkorderMutipleSerial.TaskDetailsInStation)
                            {
                            <DxFormLayoutItem CaptionPosition="CaptionPosition.Vertical" ColSpanLg="6">
                            <DxTextBox @bind-Text="@taskDetail.SerialNo"></DxTextBox>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem CaptionPosition="CaptionPosition.Vertical" ColSpanLg="6">
                            <DxDateEdit Date="@taskDetail.StartTime" TimeSectionVisible="true" ReadOnly="true"></DxDateEdit>

                            </DxFormLayoutItem>
                            } *@

                            </DxFormLayout>
                        </div>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="actionbtn">
                    <Template>
                        <div class="containeralignmid">
                            @* <DxButton Enabled="@(canrun && stationSingleWorkorderSingleSerial.HasWorkorder)" IconCssClass="oi oi-media-play" RenderStyle="ButtonRenderStyle.Success" RenderStyleMode="ButtonRenderStyleMode.Outline" SizeMode="SizeMode.Large"></DxButton> *@
                            <DxButton Enabled="@canoperate" Click="ShowOperationPopup" IconCssClass="oi oi-clipboard" RenderStyle="ButtonRenderStyle.Info" RenderStyleMode="ButtonRenderStyleMode.Outline" SizeMode="SizeMode.Large"></DxButton>
                            @* <DxButton Enabled="@canpause" IconCssClass="oi oi-media-pause" RenderStyle="ButtonRenderStyle.Warning" RenderStyleMode="ButtonRenderStyleMode.Outline" SizeMode="SizeMode.Large"></DxButton> *@
                            @* <DxButton Enabled="@canstop" IconCssClass="oi oi-media-stop" RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="ButtonRenderStyleMode.Outline" SizeMode="SizeMode.Large"></DxButton> *@
                            <DxButton Enabled="@canretry" IconCssClass="oi oi-reload" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" SizeMode="SizeMode.Large"></DxButton>
                            <DxButton Enabled="@iserror" IconCssClass="oi oi-ellipses" RenderStyle="ButtonRenderStyle.Secondary" RenderStyleMode="ButtonRenderStyleMode.Outline" SizeMode="SizeMode.Large"></DxButton>
                        </div>
                    </Template>
                </DxGridLayoutItem>
            </Items>
        </DxGridLayout>
    </div>
}

@code {
    private StationSingleWorkorderNoSerial? stationSingleWorkorderNoSerial => StationParam as StationSingleWorkorderNoSerial;

    private int operationTabIndex;
    private int stationInAmount = 0;
    private int stationOutOkAmount = 0;
    private int stationOutNgAmount = 0;

    private bool stationInNotZero => stationInAmount != 0;
    private bool stationOutNotZero => stationOutOkAmount != 0 || stationOutNgAmount !=0;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override void OnOperationPopupShow()
    {
        stationInAmount = 0;
        stationOutOkAmount = 0;
        stationOutNgAmount = 0;
        base.OnOperationPopupShow();
    }


    private async Task StationInOperation()
    {
        await shopfloorService.StationInByNameAndAmount(stationSingleWorkorderNoSerial.Name, stationInAmount);
        CloseOperationPopup();
    }
    private async Task StationOutOperation()
    {
        if (stationSingleWorkorderNoSerial.HasTask)
        {
            if (stationOutNotZero)
            {
                await shopfloorService.StationOutByAmount(stationSingleWorkorderNoSerial.Name, stationOutOkAmount, stationOutNgAmount);
            }
        }
        CloseOperationPopup();
    }

}
