@rendermode InteractiveServer
@inherits AuthComponentBase

<ToastComponent />

<div class="card p-2 " style="margin:1rem">
    <DxMenu Orientation="Orientation.Horizontal"
            DropDownActionMode="MenuDropDownActionMode.Click"
            DisplayMode="MenuDisplayMode.Desktop"
            CollapseItemsToHamburgerMenu="true"
            CollapseItemToIconMode="MenuCollapseItemToIconMode.All">
        <Items>
            <DxMenuItem IconCssClass="oi oi-home" NavigateUrl="/" Position="ItemPosition.Start" />
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Shopfloor"]}")" IconCssClass="oi oi-list">
                <Items>
                    <DxMenuItem Text="@($"{localizer["Process"]}")" IconCssClass="oi oi-ellipses" NavigateUrl="/Process" />
                    <DxMenuItem Text="@($"{localizer["Workorder"]}")" IconCssClass="oi oi-document" NavigateUrl="/WorkordersGrid" />
                    <DxMenuItem Text="@($"{localizer["Recipe"]}")" IconCssClass="oi oi-beaker" NavigateUrl="/Recipe" />
                    <DxMenuItem Text="@($"{localizer["Record"]}")" IconCssClass="oi oi-pencil">
                        <Items>
                            <DxMenuItem Text="@($"{localizer["Workorder"]}")" IconCssClass="oi oi-document" NavigateUrl="/WorkorderRecord" />
                            <DxMenuItem Text="@($"{localizer["Item"]}")" IconCssClass="oi oi-box" NavigateUrl="/ItemRecord" />
                        </Items>
                    </DxMenuItem>
                </Items>
            </DxMenuItem>
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Connection"]}")" IconCssClass="oi oi-rss">
                <Items>
                    <DxMenuItem Text="@($"{localizer["Machine"]}")" IconCssClass="oi oi-monitor" NavigateUrl="/MachinesSetting" />
                    <DxMenuItem Text="@($"{localizer["Tag"]}")" IconCssClass="oi oi-tags" NavigateUrl="/TagCategoriesPage" />
                </Items>
            </DxMenuItem>
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Script"]}")" IconCssClass="oi oi-script" NavigateUrl="/Scripts" />
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Map"]}")" IconCssClass="oi oi-map">
                <Items>
                    <DxMenuItem Text="@($"{localizer["Image"]}")" IconCssClass="oi oi-image" NavigateUrl="/ImageUpload" />
                    <DxMenuItem Text="@($"{localizer["List"]}")" IconCssClass="oi oi-list" NavigateUrl="/MapsGrid" />
                </Items>
            </DxMenuItem>
            @*<DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Setting"]}")" IconCssClass="oi oi-cog" NavigateUrl="/Setting" BeginGroup="true"></DxMenuItem> *@
            @if (authService.IsRole("SuperUser"))
            {
                <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Developer"]}")" IconCssClass="oi oi-peosple" BeginGroup="true">
                    <Items>
                        <DxMenuItem Text="@($"{localizer["Command"]}")" IconCssClass="oi oi-terminal" NavigateUrl="/Developer" />
                        <DxMenuItem Text="@($"{localizer["Swagger"]}")" IconCssClass="oi oi-wrench" NavigateUrl="/Swagger" />
                        <DxMenuItem Text="@($"{localizer["Modbus TCP"]}")" IconCssClass="oi oi-tablet" NavigateUrl="/ModbusTCPTesting" />
                    </Items>
                </DxMenuItem>
            }
            <AuthComponent></AuthComponent>
        </Items>
    </DxMenu>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }



}
