@rendermode InteractiveServer
@inherits AuthComponentBase

<ToastComponent />

<div class="card p-2 " style="margin:1rem">
    <DxMenu Orientation="Orientation.Horizontal"
            DropDownActionMode="MenuDropDownActionMode.Click"
            DisplayMode="MenuDisplayMode.Desktop"
            CollapseItemsToHamburgerMenu="true"
            CollapseItemToIconMode="MenuCollapseItemToIconMode.All">
        <Items>
            <DxMenuItem IconCssClass="oi oi-home" NavigateUrl="/" Position="ItemPosition.Start" />
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Shopfloor"]}")" IconUrl="images\MyIcon\factory.svg">
                <Items>
                    <DxMenuItem Text="@($"{localizer["Process"]}")" IconUrl="images\MyIcon\process.svg" NavigateUrl="/Process" />
                    <DxMenuItem Text="@($"{localizer["Workorder"]}")" IconCssClass="oi oi-document" NavigateUrl="/WorkordersGrid" />
                    <DxMenuItem Text="@($"{localizer["Recipe"]}")" IconCssClass="oi oi-beaker" NavigateUrl="/Recipe" />
                    <DxMenuItem Text="@($"{localizer["Record"]}")" IconCssClass="oi oi-pencil">
                        <Items>
                            <DxMenuItem Text="@($"{localizer["Workorder"]}")" IconCssClass="oi oi-document" NavigateUrl="/WorkorderRecord" />
                            <DxMenuItem Text="@($"{localizer["Item"]}")" IconCssClass="oi oi-box" NavigateUrl="/ItemRecord" />
                        </Items>
                    </DxMenuItem>
                </Items>
            </DxMenuItem>
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Query"]}")" IconUrl="images\MyIcon\data-center.svg">
                <Items>
                    <DxMenuItem Text="@($"{localizer["Production History"]}")" IconUrl="images\MyIcon\producthistory.svg" NavigateUrl="/HistoryQuery" />
                    <DxMenuItem Text="@($"{localizer["Machine Utilization"]}")" Visible="@(authService.IsRole("SuperUser"))" IconCssClass="oi oi-clock" NavigateUrl="/MachineUtilization" />
                    <DxMenuItem Text="@($"{localizer["Log Query"]}")" Visible="@(authService.IsRole("SuperUser"))" IconCssClass="oi oi-menu" NavigateUrl="/LogData" />

                </Items>
            </DxMenuItem>
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Connection"]}")" IconCssClass="oi oi-rss">
                <Items>
                    <DxMenuItem Text="@($"{localizer["Machine"]}")" IconCssClass="oi oi-monitor" NavigateUrl="/MachinesSetting" />
                    <DxMenuItem Text="@($"{localizer["Tag"]}")" IconCssClass="oi oi-tags" NavigateUrl="/TagCategories" />
                    <DxMenuItem Text="@($"{localizer["Custom"]}")" IconUrl="images\MyIcon\custom-tag.svg">
                        <Items>
                            <DxMenuItem Text="@($"{localizer["Status"]}")" IconUrl="images\MyIcon\condition.svg" NavigateUrl="/CustomTagStatus" />
                            <DxMenuItem Text="@($"{localizer["Error Code"]}")" IconUrl="images\MyIcon\error-code.svg" NavigateUrl="/CustomTagErrorCode" />
                        </Items>
                    </DxMenuItem>
                </Items>
            </DxMenuItem>
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Script"]}")" IconCssClass="oi oi-script" NavigateUrl="/Scripts" />
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Map"]}")" IconCssClass="oi oi-map">
                <Items>
                    <DxMenuItem Text="@($"{localizer["Image"]}")" IconCssClass="oi oi-image" NavigateUrl="/ImageUpload" />
                    <DxMenuItem Text="@($"{localizer["List"]}")" IconCssClass="oi oi-list" NavigateUrl="/MapsGrid" />
                </Items>
            </DxMenuItem>
            <DxMenuItem Position="ItemPosition.Center" Text="@($"{localizer["Developer"]}")" IconUrl="images\MyIcon\programmer.svg" Visible="@(authService.IsRole("SuperUser"))" BeginGroup="true">
                <Items>
                    @* <DxMenuItem Text="@($"{localizer["Command"]}")" IconCssClass="oi oi-terminal" NavigateUrl="/Developer" /> *@
                    <DxMenuItem Text="@($"{localizer["Swagger"]}")" IconUrl="images\MyIcon\swagger.svg" NavigateUrl="/Swagger" />
                </Items>
            </DxMenuItem>
            <AuthComponent></AuthComponent>
        </Items>
    </DxMenu>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }



}
