@page "/Machine/{machineId}"
@rendermode InteractiveServer
@implements IDisposable

@if (hasMachine)
{
    <DxDrawer @bind-IsOpen="@drawerOpen" PanelWidth="20rem" Mode="DrawerMode.Overlap" Position="DrawerPosition.Right" CloseOnTargetContentClick="false" CloseOnEscape="false">
        <HeaderTemplate>
            <DxToolbar ItemRenderStyleMode="@ToolbarRenderStyleMode.Contained" SizeMode="SizeMode.Large" Title="@($"{machine?.Name}-{targetTag?.Name}")">
                <Items>
                    <DxToolbarItem RenderStyle="ButtonRenderStyle.Danger" IconCssClass="oi oi-x" Click="CloseDrawer" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" />
                </Items>
            </DxToolbar>
        </HeaderTemplate>
        <BodyTemplate>
            <DxFormLayout CssClass="w-100">
                @switch (targetTag?.DataType)
                {
                    case 1:
                        <DxFormLayoutItem Caption="@($"{targetTag.Int1}")" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                            <DxCheckBox @bind-Checked="@setVal_bool" CheckType="CheckType.Switch" />
                        </DxFormLayoutItem>
                        break;
                    case 2:
                        <DxFormLayoutItem Caption="@($"{targetTag.Int1}")" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                            <DxSpinEdit @bind-Value="@setVal_ushort" />
                        </DxFormLayoutItem>
                        break;
                    case 3:
                        <DxFormLayoutItem Caption="@($"{targetTag.Int1}")" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                            <DxSpinEdit @bind-Value="@setVal_float"></DxSpinEdit>
                        </DxFormLayoutItem>
                        break;
                    case 4:
                        <DxFormLayoutItem Caption="@($"{targetTag.Int1}")" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="12">
                            <DxTextBox @bind-Text="@setVal_string"></DxTextBox>
                        </DxFormLayoutItem>
                        break;
                    default:
                        break;
                }

            </DxFormLayout>
        </BodyTemplate>
        <FooterTemplate>
            <DxToolbar ItemRenderStyleMode="@ToolbarRenderStyleMode.Contained" SizeMode="SizeMode.Large">
                <Items>
                    <DxToolbarItem RenderStyle="ButtonRenderStyle.Info" IconCssClass="oi oi-data-transfer-download" Click="@(async () => await SetTagValue(targetTag))" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" />
                </Items>
            </DxToolbar>
        </FooterTemplate>
        <TargetContent>
            <DxGridLayout ColumnSpacing="3rem" RowSpacing="1rem">
                <Rows>
                    @* <DxGridLayoutRow Height="auto"></DxGridLayoutRow> *@
                    <DxGridLayoutRow Height="auto"></DxGridLayoutRow>
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="4fr"></DxGridLayoutColumn>
                    <DxGridLayoutColumn Width="8fr"></DxGridLayoutColumn>
                </Columns>
                <Items>
                    <DxGridLayoutItem Row="0" Column="0">
                        <Template>
                            <DxFormLayout CaptionPosition="CaptionPosition.Vertical" Data="@machine" ReadOnly="true">
                                <DxFormLayoutGroup Caption="Machine Config" CssClass="rounded">
                                    <DxFormLayoutItem Caption="Name">
                                        <DxTextBox @bind-Text="@machine.Name" ReadOnly="true" />
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="Enable">
                                        <DxCheckBox @bind-Checked="@machine.Enabled" CheckType="CheckType.Switch" ReadOnly="true"></DxCheckBox>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="Max retry count">
                                        <DxSpinEdit Value="@machine.MaxRetryCount" ReadOnly="true"></DxSpinEdit>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="Retry count">
                                        <DxSpinEdit Value="@machine.RetryCount" ReadOnly="true"></DxSpinEdit>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="IP">
                                        <DxTextBox @bind-Text="@machine.Ip" ReadOnly="true" />
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="Port">
                                        <DxSpinEdit @bind-Value="@machine.Port" ReadOnly="true"></DxSpinEdit>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="@($"{localizer["Connection Type"]}")">
                                        <DxComboBox Data="@(connectionType)" Value="@((ConnectType)machine.ConnectionType)" ValueChanged="@((ConnectType ct)=>ConnectTypeChanged(ct))"></DxComboBox>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="Tag Category">
                                            <DxComboBox Data="@tagCategories" @bind-Value="@machine.TagCategoryId" ReadOnly="true" ValueFieldName="@nameof(TagCategory.Id)" TextFieldName="@nameof(TagCategory.Name)" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    </DxFormLayoutItem>
                                </DxFormLayoutGroup>
                                <DxFormLayoutGroup Caption="Runtime data" CssClass="rounded">
                                    <DxFormLayoutItem Caption="Status" Field="@nameof(Machine.StatusStr)" />
                                    <DxFormLayoutItem Caption="Running" Field="@nameof(Machine.RunFlag)">
                                        <DxCheckBox Checked="@machine.RunFlag" CheckType="CheckType.Switch" ReadOnly="true"/>
                                    </DxFormLayoutItem>
                                    <DxFormLayoutItem Caption="Error Message" Field="@nameof(Machine.ErrorMsg)" ColSpanLg="12"/>
                                </DxFormLayoutGroup>
                            </DxFormLayout>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <div>
                                @if (machine.hasTags && machine.tagUsable)
                                {
                                    <DxGrid Data="@machine.TagCategory.Tags">
                                        <Columns>
                                            <DxGridDataColumn FieldName="@nameof(Tag.Name)" />
                                            <DxGridDataColumn FieldName="@nameof(Tag.DataType)">
                                                <CellDisplayTemplate>
                                                    <div>@((DataType)((int)context.Value))</div>
                                                </CellDisplayTemplate>
                                            </DxGridDataColumn>
                                            <DxGridDataColumn FieldName="@nameof(Tag.UpdateByTime)" />
                                            <DxGridDataColumn FieldName="@nameof(Tag.ValueString)" />
                                            <DxGridDataColumn FieldName="@nameof(Tag.LastChangedTime)" DisplayFormat="G" />
                                            <DxGridDataColumn FieldName="@nameof(Tag.LastUpdateTime)" DisplayFormat="G" />
                                            <DxGridDataColumn>
                                                <CellDisplayTemplate>
                                                    <div class="d-flex justify-content-center">
                                                        <DxToolbar>
                                                            <Items>
                                                                <DxToolbarItem Enabled="@(!(context.DataItem as Tag).UpdateByTime)" Click="@(()=>UpdateTagClicked(context.DataItem))" IconCssClass="oi oi-loop"></DxToolbarItem>
                                                                <DxToolbarItem Click="@(()=>SetTagClicked(context.DataItem))" IconCssClass="oi oi-location"></DxToolbarItem>
                                                            </Items>
                                                        </DxToolbar>
                                                    </div>
                                                </CellDisplayTemplate>
                                            </DxGridDataColumn>
                                        </Columns>
                                    </DxGrid>
                                }
                            </div>
                        </Template>
                    </DxGridLayoutItem>
                </Items>
            </DxGridLayout>
        </TargetContent>
    </DxDrawer>


}
else
{

}


@code {
    [Parameter]
    public string machineId { get; set; }
    private Machine? machine;
    private bool hasMachine => machine != null;

    private IEnumerable<ConnectType> connectionType = Enum.GetValues(typeof(ConnectType)).Cast<ConnectType>();
    private IEnumerable<TagCategory> tagCategories = new List<TagCategory>();

    private bool drawerOpen = false;
    private Tag? targetTag;

    private bool setVal_bool = false;
    private ushort setVal_ushort = 0;
    private float setVal_float = 0;
    private string setVal_string = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await InitParam();

    }

    public void Dispose()
    {
        if (hasMachine)
        {
            machine.MachineStatechangedAct -= StatusUpdate;
            machine.TagsStatechangedAct -= TagUpdate;
        }

    }

    private async Task InitParam()
    {
        machine = await shopfloorService.GetMachineByID(new Guid(machineId));
        if (hasMachine)
        {
            await RetriveTagCategory();
            //machine.MachineStatechangedAct += UpdateUI;
            machine.MachineStatechangedAct += StatusUpdate;
            machine.TagsStatechangedAct += TagUpdate;
        }
    }

    private void OpenDrawer()
    {
        drawerOpen = true;
    }

    private void CloseDrawer()
    {
        drawerOpen = false;
    }

    private async void StatusUpdate(Status status)
    {
        await InvokeAsync(StateHasChanged);
    }

    private async void TagUpdate()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task RetriveTagCategory()
    {
        tagCategories = await shopfloorService.GetCategoryByConnectionType(machine.ConnectionType);
    }

    private async void ConnectTypeChanged(ConnectType ct)
    {
        machine.ConnectionType = (int)ct;
        await RetriveTagCategory();
    }


    private void SelectedNewCategry(Guid? id)
    {
        machine.TagCategoryId = id;
    }

    private async Task UpdateTagClicked(Object tagObj)
    {
        targetTag = tagObj as Tag;
        if (targetTag != null)
        {
            await machine?.UpdateTag(targetTag);
        }

    }

    private void SetTagClicked(Object tagObj)
    {

        targetTag = tagObj as Tag;
        if (targetTag != null)
        {
            switch (targetTag.DataType)
            {
                case 1:
                    setVal_bool = (bool)targetTag.Value;
                    break;
                case 2:
                    setVal_ushort = (ushort)targetTag.Value;
                    break;
                default:
                    break;

            }
            OpenDrawer();
        }

    }

    private async Task SetTagValue(Object tagObj)
    {
        Tag? targetTag = tagObj as Tag;
        if (targetTag != null)
        {
            switch (targetTag.DataType)
            {
                case 1:
                    await machine.SetTag(targetTag, setVal_bool);
                    break;
                case 2:
                    await machine.SetTag(targetTag, setVal_ushort);
                    break;
                case 3:
                    await machine.SetTag(targetTag, setVal_float);
                    break;
                case 4:
                    await machine.SetTag(targetTag, setVal_string);
                    break;
                default:
                    break;

            }
        }
        CloseDrawer();
    }
}
