@page "/MapEditorPage/{Id}"
@rendermode InteractiveServer
@inject IStringLocalizer<Language> localizer
@inject NavigationManager nav
@inject TMWebShopfloorService shopfloorService
@inject UIService uiService
@if (hasImage)
{
    <DxGridLayout RowSpacing="1rem" ColumnSpacing="1rem">
        <Rows>
            <DxGridLayoutRow Height="1fr"></DxGridLayoutRow>
            <DxGridLayoutRow Height="11fr"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn Width="10fr"></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="2fr"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Row="0" Column="0" RowSpan="2">
                <Template>
                    <div class="card h-100 position-relative p-3">
                        <img @onclick="SetTargetNull" class=" h-100 w-100" src="@($"data:{mapConfig.Image.DataType};base64,{Convert.ToBase64String(mapConfig.Image.DataByte ?? Array.Empty<byte>())}") " />
                        @foreach (MapComponent mapComponent in mapConfig.MapComponents)
                        {
                            <MapEditComponent MapComponentConfig="@mapComponent" IsMain="@IsMain(mapComponent.Id)" ClickCallback="OnComponentClicked" />
                        }
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="0" Column="1">
                <Template>
                    <div>
                        <DxToolbar>
                            <Items>
                                <DxToolbarItem Click="NewComponentClick" IconCssClass="oi oi-plus"></DxToolbarItem>
                                <DxToolbarItem Click="DeleteComponent" Enabled="@componentSelected" IconCssClass="oi oi-trash" RenderStyle="ButtonRenderStyle.Danger" BeginGroup="true"></DxToolbarItem>
                                <DxToolbarItem Click="UpdateComponentAttribute" IconCssClass="oi oi-data-transfer-download" RenderStyle="ButtonRenderStyle.Info" BeginGroup="true"></DxToolbarItem>
                                @* <DxToolbarItem>
                            <Template>
                            <DxComboBox Data="mapComponents" @bind-Value="@targetMapComponent" TextFieldName="@(nameof(MapComponent.MachineId))" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"></DxComboBox>
                            </Template>
                            </DxToolbarItem> *@
                            </Items>
                        </DxToolbar>
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="1" Column="1">
                <Template>
                    <div class="w-100 h-75">
                        <DxDrawer IsOpen="@componentSelected" Position="DrawerPosition.Right" PanelWidth="100%">
                            <BodyTemplate>
                                @if (componentSelected)
                                {
                                    <DxFormLayout>
                                        <DxFormLayoutGroup>
                                            <DxFormLayoutItem Caption="Type" ColSpanLg="6" CaptionPosition="CaptionPosition.Vertical">
                                                <DxComboBox Data="@targetTypes" Value="@targetMapComponent.Type" ValueChanged="@((int i)=>SetComponentType(i))"></DxComboBox>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem ColSpanLg="6">
                                                @if (targetMapComponent.Type == 0)
                                                {
                                                    <DxComboBox Data="@stations" @bind-Value="@targetMapComponent.StationId" ValueFieldName="@(nameof(Station.Id))" TextFieldName="@(nameof(Station.Name))"></DxComboBox>
                                                }
                                                else if (targetMapComponent.Type == 1)
                                                {

                                                    <DxComboBox Data="@machines" @bind-Value="@targetMapComponent.MachineId" ValueFieldName="@(nameof(Machine.Id))" TextFieldName="@(nameof(Machine.Name))"></DxComboBox>

                                                }
                                                else
                                                {

                                                }
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>
                                        <DxFormLayoutGroup>
                                            <DxFormLayoutItem Caption="X" CaptionPosition="CaptionPosition.Vertical" BeginRow="true" ColSpanLg="6">
                                                <DxSpinEdit @bind-Value="@targetMapComponent.PositionX"></DxSpinEdit>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Y" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="6">
                                                <DxSpinEdit @bind-Value="@targetMapComponent.PositionY"></DxSpinEdit>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Width" CaptionPosition="CaptionPosition.Vertical" BeginRow="true" ColSpanLg="6">
                                                <DxSpinEdit @bind-Value="@targetMapComponent.Width"></DxSpinEdit>
                                            </DxFormLayoutItem>
                                            <DxFormLayoutItem Caption="Height" CaptionPosition="CaptionPosition.Vertical" ColSpanLg="6">
                                                <DxSpinEdit @bind-Value="@targetMapComponent.Height"></DxSpinEdit>
                                            </DxFormLayoutItem>
                                        </DxFormLayoutGroup>

                                    </DxFormLayout>
                                }
                            </BodyTemplate>
                            <TargetContent>
                                <div></div>
                            </TargetContent>
                        </DxDrawer>
                    </div>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
}
<DxPopup @bind-Visible="@popupVisible" CloseOnOutsideClick="false" ShowHeader="true" ShowFooter="true" Width="50rem">
    <HeaderTemplate>
        <div class="w-100 p-3 border border-bottom">
            <DxToolbar>
                <Items>
                    <DxToolbarItem IconCssClass="oi oi-x" Click="ClosePopup" RenderStyle="ButtonRenderStyle.Danger" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" RenderStyleMode="ToolbarItemRenderStyleMode.Contained" />
                </Items>
            </DxToolbar>
        </div>
    </HeaderTemplate>
    <BodyContentTemplate Context="bodycontext">
        <DxFormLayout>
            <DxFormLayoutItem Caption="Type" ColSpanLg="6" CaptionPosition="CaptionPosition.Vertical">
                <DxComboBox Data="@targetTypes" Value="@targetMapComponent.Type" ValueChanged="@((int i)=>SetComponentType(i))"></DxComboBox>
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanLg="6">
                @* <DxComboBox Data="@stations" @bind-Value="@targetMapComponent.StationId" ValueFieldName="@(nameof(Station.Id))" TextFieldName="@(nameof(Station.Name))"></DxComboBox>
                <DxComboBox Data="@machines" @bind-Value="@targetMapComponent.MachineId" ValueFieldName="@(nameof(Machine.Id))" TextFieldName="@(nameof(Machine.Name))"></DxComboBox>
                *@
                @if (targetMapComponent.Type == 0)
                {
                    <DxComboBox Data="@stations" @bind-Value="@targetMapComponent.StationId" ValueFieldName="@(nameof(Station.Id))" TextFieldName="@(nameof(Station.Name))"></DxComboBox>
                }
                else if (targetMapComponent.Type == 1)
                {

                    <DxComboBox Data="@machines" @bind-Value="@targetMapComponent.MachineId" ValueFieldName="@(nameof(Machine.Id))" TextFieldName="@(nameof(Machine.Name))"></DxComboBox>

                }
                else
                {

                }
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="X" ColSpanLg="6" CaptionPosition="CaptionPosition.Vertical">
                <DxSpinEdit @bind-Value="@targetMapComponent.PositionX"></DxSpinEdit>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Y" ColSpanLg="6" CaptionPosition="CaptionPosition.Vertical">
                <DxSpinEdit @bind-Value="@targetMapComponent.PositionY"></DxSpinEdit>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Width" ColSpanLg="6" CaptionPosition="CaptionPosition.Vertical">
                <DxSpinEdit @bind-Value="@targetMapComponent.Width"></DxSpinEdit>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Height" ColSpanLg="6" CaptionPosition="CaptionPosition.Vertical">
                <DxSpinEdit @bind-Value="@targetMapComponent.Height"></DxSpinEdit>
            </DxFormLayoutItem>
        </DxFormLayout>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton Click="AddComponent" RenderStyle="ButtonRenderStyle.Primary" IconCssClass="oi oi-check" />
    </FooterContentTemplate>
</DxPopup>

@code {
    [Parameter]
    public string Id { get; set; }

    private MapConfig? mapConfig;
    private bool hasMapConfig => mapConfig != null;
    private bool hasImage => hasMapConfig && mapConfig.Image != null;

    private List<MapComponent> mapComponents = new();
    private MapComponent? targetMapComponent;
    private bool componentSelected => targetMapComponent != null;
    private bool IsMain(Guid id) => componentSelected ? id == targetMapComponent.Id : false;


    private IEnumerable<TargetType> targetTypes => Enum.GetValues(typeof(TargetType)).Cast<TargetType>();

    private IEnumerable<Station> stations;
    private IEnumerable<Machine> machines;


    private bool popupVisible = false;

    private void ShowPopup() => popupVisible = true;
    private void ClosePopup() => popupVisible = false;


    protected override async Task OnInitializedAsync()
    {
        await InitParameter();
        await base.OnInitializedAsync();
    }

    private async Task InitParameter()
    {
        mapConfig = await shopfloorService.GetMapConfigAndComponentById(new Guid(Id));
        mapComponents = mapConfig?.MapComponents.ToList();
        stations = await shopfloorService.GetAllStationsConfig();
        machines = await shopfloorService.GetAllMachinesConfig();

    }

    private async Task OnComponentClicked(Task<Guid> componentId)
    {
        Guid guid = await componentId;
        targetMapComponent = mapComponents.FirstOrDefault(x => x.Id == guid);
        await InvokeAsync(StateHasChanged);
    }

    private void SetComponentType(int i)
    {
        if (componentSelected)
        {
            targetMapComponent.SetType(i);
        }
    }

    private void SetTargetNull()
    {
        targetMapComponent = null;
    }

    private void NewComponentClick()
    {
        targetMapComponent = new MapComponent(mapConfig.Id);
        ShowPopup();
    }

    private async Task AddComponent()
    {
        var res = await shopfloorService.UpsertMapComponents(targetMapComponent);
        await InitParameter();
        ClosePopup();
        uiService.ShowToast(res);
    }

    private async Task UpdateComponentAttribute()
    {
        var res = await shopfloorService.UpsertMapComponentsAttribute(mapComponents);
        await InitParameter();
        uiService.ShowToast(res);
    }

    private async Task DeleteComponent()
    {
        var res = await shopfloorService.DeleteMapComponents(targetMapComponent);
        await InitParameter();
        uiService.ShowToast(res);
    }

}
